:root{
    --bg-primary:#FFFFFF;
    --bg-footer:#111111;
    --bg-gray:#F5F5F5;
    --text-black:#000000;
    --text-input:#585858;
    --inative-bg-button-gray:#e7e7e7;
    --inative-text-button-:#bcbcbc;
    --hover-active-bg-button:#8f23d6;
    --purple:#820AD1;
    --ultra-violet:#2F0549;
    --hover-purple:#ab4bea;
    --hover-purple-light:#f4e7ff;
}